body {
  background-color: #0B0B0B;
  color: #E0E0E0;
  margin: 0;
  padding: 0;

}

  
* {
  margin: 0;
  padding: 0;
}

a {
  color: #E0E0E0;
  text-decoration: none;
  transition: 0.3s;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-right: 40%;
}

#logo-png {
  width: 200px;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #0B0B0B;
  box-shadow: 0px 4px  rgba(1, 1, 1, 0.4);;
  height: 8vh;
  
}

main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 3vh;
}

.nav-list {
  list-style: none;
  display: flex;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 25vw;
    height: 92vh;
    background:linear-gradient( #0B0B0B ,#FF8C00);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

  
  .banner {
    color: #FCF9EE;
    height: 800px;
    padding: 50px 20px;
    background-position: center;
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("banner.jpg");
    

  }
  
  .bannerzao {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  
  .banner h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .cnp-button {
    width: 300px;
    height: 40px;
    background-color: #FFA500;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  .cnp-button:hover {
    background-color: #FFAD12;
  }

  #noac {
    padding-left: 5px;
    font-size: 35px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  
  .section {
    padding: 60px 0px;
    text-align: center;
    background-color: #FCF9EE;
    border: 3px solid grey;
  }

#td-mini-planos {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-left: 13px;
  border: 3px solid blue;
  width: auto;
  height: 89px;
  margin-bottom: 20px;
}

#mini-planos {
  padding: 1px 2px;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  display: inline-block;
  float: left;
  margin: 1px;
  border: 3px solid red;
}
#academias{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#academias-button {
  background-color: #FF8C00;
  color: #060B12;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  margin-top: 20px;
  
}

#academias-button:hover {
  background-color: #FF8C00;
  color: #FCF9EE;
  padding: 11px 21px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50px;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
  
#planos {
  padding: 60px 20px;
  text-align: center;
  background-color: whitesmoke;
  background-color: red;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

#planos h2 {
  font-size: 30px
}

#planos-button {
  color: #060B12;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  border: 2px solid #FF8C00;
  color: #060B12;
}

#planos-button:hover {
  background-color: #FF8C00;
  color: #FCF9EE;
  padding: 11px 21px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50px;
  transition: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
  
    
}

  .section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    
  }
  
  .grid-zao {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
  }
  
  .grid-div {
    width: 90%;
    max-width: 300px;
    height: 360px;
    margin-bottom: 20px;
    margin: 8px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    flex-basis: calc(33.33% - 20px);
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

.grid-div:hover {
    transform: translateY(-10px);
    width: 80%;
    max-width: 300px;
    height: 350px;
    
    
  
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  .grid-div img {
    width: 100%;
    height: auto;
    border: 3px solid red;
    
  }
  
  .grid-div h3 {
    font-size: 24px;
    
    
    box-shadow: rgba(255, 140, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

.grid-div p {
  text-align: left;
  padding-left: 3px;
  
}

#grid-div a {
  margin: 0px;
  padding: 0px;
  
}

.pzin {
  padding-left: 4px;
  margin-left: 4px;
  
}

.depoimentos h1 {
  text-align: center;
}

.depoimentos p {
  margin-bottom: 20px;
  text-align: center;
  color: #0B0B0B;
}

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
}

.depoimentos .card-item {
  background-color: #FFA500;
  margin: 15px;
  border-radius: 14px;
  text-align: center;
  width: 350px;
  transition: 0.3s;
  width: 90%;
  max-width: 310px;
}

.depoimentos .card-item img {
  border-radius: 100%;
  width: 80px;
  display: block;
  margin: 10px auto;
}

.depoimentos .card-item .nome-user {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
  transition: 0.3s;
}

.depoimentos .card-item .depoimento-user {
  font-size: 15px;
  padding: 0 15px;
  transition: 0.3s;
}

.depoimentos .card-item .estrelas {
  margin: 15px 0;
  border-top: 2px solid #71767a23;
}

.depoimentos .card-item .estrelas i {
  color: #0B0B0B;
  margin-top: 15px;
  font-size: 20px;
  transition: 0.3s;
}

.depoimentos .card-item:hover {
  background-color: #f39e00;
  margin-top: -5px;
  
}

.depoimentos .card-item:hover .nome-user,
.depoimentos .card-item:hover .depoimento-user,
.depoimentos .card-item:hover .estrelas i
{
  color: #0B0B0B;
}

footer {
  background-color: #0B0B0B;
   color: #E0E0E0;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  box-shadow: 0px 0px 1px #E0E0E0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 20px 0;
}

.footer-column h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-column p, .footer-column ul, .footer-column form {
  margin: 0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
   color: #E0E0E0;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li a {
  display: block;
  width: 24px;
  height: 24px;
}

.social-icons li a img {
  width: 100%;
  height: 100%;
}

.footer-column form {
  display: flex;
}

.footer-column input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  background-color: transparent;
  box-shadow: 1.5px 0px 1.5px 0px #E0E0E0;
  color: #E0E0E0;
}

.footer-column button {
  padding: 10px;
  border: none;
  background-color: #FFA500;
  color: #0B0B0B;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.footer-column button:hover {
  background-color: #f39e00;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #E0E0E0;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

nav ul a::after {
    color: #141414;
    font-weight: bold;
    content: "";
    background-color: #FFf;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s; 
    border-bottom: none;
    list-style-type: none;
    text-decoration: none;
}

nav ul a:hover::after {
    color: #4169E1;
    width: 92%;
  }
  .cards {
    width: 320px;
    height: 450px;
    margin: 16px;
    border-radius: 16px;
    background-color: #2A2A2A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cards img {
    width: 100%;
    height: 120px;
    border-radius: 8px 8px 0px 0px;
}

.cards h2 {
    margin-bottom: 0px;
    color: #E0E0E0;
}

.cards h6 {
    margin-top: 4px;
    color: #E0E0E0;
}

.firstHalfCard {
    width: 95%;
    height: 20%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 40px;
}

.halfCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.planos {
    width: 65px;
    height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E0E0E0;
    font-weight: 600;
}

.button {
    width: 300px;
    height: 40px;
    background-color: #FFA500;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.button:hover{
    background-color: #f39e00;
    transform: scale(1.01);
    transition: all ease 0.2s;

}

.button a {
    font-weight: 600;
    text-decoration: none;
    color: #0B0B0B;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
}
