nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 8vh;
  width: 100%;
  box-shadow: 0px 4px  rgba(1, 1, 1, 0.4);;
  
}
#logo-img {
width: 115px;
height: 8vh;


}
#logo-img img{
object-fit: contain;
width: 100%;
height: 100%;
cursor: pointer;
margin: 0;
max-width: 100%;



}
#halfLogo{
display: flex;
justify-content: flex-start;
align-items: center;
width: 50%;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
font-size: 24px;
margin: 0;

}

  

nav a{
  text-decoration: none;
  color: #E0E0E0;
}
.nav-list {
list-style: none;
display: flex;
width: 50%;
justify-content: flex-end;
margin-left: 16px;
}

.nav-list li {
  letter-spacing: 3px;
  margin-right: 16px;
}
.nav-list li a{
 text-decoration: none;
 color: #E0E0E0;
}

nav ul a::after {
  color: #141414;
  font-weight: bold;
  content: "";
  background-color: #FFf;
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: 0.3s; 
  border-bottom: none;
  list-style-type: none;
  text-decoration: none;
}

nav ul a:hover::after {
  color: #4169E1;
  width: 92%;
}


body {
font-family: 'Roboto', sans-serif;
display: flex;
justify-content: center;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 0;
background-color: #0B0B0B;
width: 100vw;
}

.slogan {
text-align: center;
margin: 50px;
font-size: 24px;
font-family: Arial, sans-serif;
padding: 5px 5px;
width: 50%;

}

.slogan h2 {
color: #fff;

}

.slogan p {
font-size: 20px;
}

.planos {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
justify-content: center;
flex-direction: column;
  
}

.planos h2 {
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
}

.planos-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  
}


.plano {
  background-color: #2A2A2A;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  
}

.plano h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
 
}

.plano p {
  color: #fff;
  margin-bottom: 20px;
}

.plano .preco {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

.plano .botao {
  display: inline-block;
  background-color: #FF8C00;
  color: #fff;
  padding: 10px 20px;
  border-radius: 14px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
}

.plano .botao:hover {
  background-color: #0B0B0B;
  color: #FF8C00;
}



.planos-cores {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 16px;

}
.planos-cores-first-half{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 200px;
  margin: 0px;

}
.planos-cores-second-half{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;


}

.planos-cores h2 {
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
  
}

.planos-container-cores {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
 margin-top: 50px;
  
}

.plano-cores {
  background-color: #2A2A2A;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  height: 550px;
  text-align: left;
}

.plano-cores h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
  
}

.plano-cores p {
  color: #fff;
margin-bottom: 10px;
}

.plano-cores .preco-cores {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  
}

.plano-cores .botao-cores {
  width: 300px;
  height: 40px;
  background-color: #FF8C00;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  text-decoration: none;
  color: #0B0B0B;
  
}

.plano-cores .botao-cores:hover {
  background-color: #FF8C00;
  transform: scale(1.01);
  transition: all ease 0.2s;
}

/* end planos*/

.planos-descricao {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 50px;

}

.planos-descricao h2 {
  margin-bottom: 30px;
  font-size: 34px;
  color: #fff;
  
}

.planos-container-descricao {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1600px;
  
}

.plano-descricao {
  background-color: #2A2A2A;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: left;
}

.plano-descricao h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
  
}

.plano-descricao p {
  color: #fff;
margin-bottom: 10px;
}

.plano-descricao .preco {
  font-size: 1.4rem;
  color: #fff;
  font-weight: bold;
  
}

.plano-descricao .botao {
  display: inline-block;
  background-color: #FF8C00;
  color: #0B0B0B;
  padding: 10px 75px;
  border-radius: 18px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  
}

.plano-descricao .botao:hover {
  background-color: #0B0B0B;
  color: #FF8C00;
}
.fotinha{
  width: 100%;
  margin-bottom: 36px;
  margin-top: 36px;
}
.fotinha img{
  width: 100%;
  height: auto;
}
















footer {
  background-color: #0B0B0B;
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  margin-top: 64px;
  width: 100%;
  box-shadow: 0px 0px 1px #E0E0E0;
  
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 20px 0;
}

.footer-column h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-column p, .footer-column ul, .footer-column form {
  margin: 0;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
  color: #ff8C00;
}

.social-icons {
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.social-icons li a {
  display: block;
  width: 24px;
  height: 24px;
}

.social-icons li a img {
  width: 100%;
  height: 100%;
}

.footer-column form {
  display: flex;
}

.footer-column input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  background-color: transparent;
  box-shadow: 1.5px 0px 1.5px 0px #E0E0E0;
  color: #E0E0E0;
}

.footer-column button {
  padding: 10px;
  border: none;
  background-color: #FFA500;
  color: #0B0B0B;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.footer-column button:hover {
  background-color: #FF8C00;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 959px) {
  .nav-list li a{
      text-decoration: none;
      color: #E0E0E0;
      font-size: 13px;
   }
}

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .nav-list li a{
      text-decoration: none;
      color: #E0E0E0;
      font-size: 12px;
   }
}

/*Mobile*/
@media only screen and (max-width: 767px) {
  .nav-list li a{
      text-decoration: none;
      color: #E0E0E0;
      font-size: 11px;
   }
   #halfLogo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
   
   }
}